/* Color pallete
3E5769 dark blue
5A7383 light blue
EDAC44 goldish yellow
6D3615 warm brown
C4A7A1 bland
EN COLOR PALLETE*/

/*FONTS*
font-family: "Henny Penny", system-ui;
font-family: "Road Rage", sans-serif;
font-family: "Eater", serif;
font-family: "Irish Grover", system-ui;
font-family: "Creepster", system-ui;
font-family: "Nosifer", sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Eater&family=Henny+Penny&family=Irish+Grover&family=Road+Rage&display=swap');
/*FONTS*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: linear-gradient(#0b2130,#112e419a );
    height: 100vh;
}

.logo {
    margin: 0;
    font-size: 1.45em;
    color: #fff;
}

ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.main-nav {
    margin-top: 5px;

}

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-family: "Nosifer", sans-serif;
    color: #864843;
}

.main-nav a {
    color: #96e194;
    font-size: 1.3em;
    font-family: "Creepster", system-ui;
}
.main-nav a:hover {
    color: #f5a22d;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #ff9505;
    background-color: #ff950588;
    box-shadow: 0px, 0px, 14px, 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

#hero {
    background-image: url(../images/2151827517.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    min-height: 300px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h2 {
    color: #bf3100;
    font-size: 1.8rem;
    text-shadow: 2px 2px 6px #fff;
    font-family: "Nosifer", sans-serif;
}

/*------Responsive Images-------*/
img {
    width: 100%;
}

/*------Tablet Media Query------*/
@media screen and (min-width: 769px) {
 
    .header,
    .main-nav {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;
        .header {
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }

}
/*---------END OF TABLET QUERY----------*/

/*-------Desktop Media Query-----------*/
@media screen and (min-width: 1025px) {

    .header {
        flex-direction: row;
        justify-content: space-between;
    }

}
/*-------END OF DESKTOP QUERY----------*/

/*-------LARGE SCREEN----------------*/
@media screen and (min-width: 1850px) {

    .header {
        flex-direction: row;
        justify-content: space-between;
    }

}
/*------------END----------------------*/